
<div class="container" style="background-color: #fff; ">

    <div class="col-md-1"></div>
    <div class="col-md-8" ng-show="options.loading==true">
        Please wait ...
        <i class="fa-li fa fa-spinner fa-spin fa-5x"></i>
    
    </div>
    <div class="col-md-8" ng-hide="options.loading==true">
    <div class="alert alert-warning" style="">

    <form>
        <h2 align="center">{{book.title}}</h2>

        <i ng-if="book.is_published==true" style="color:green" class="fa fa-check"> Published </i>
        <i  style="color:green" class="fa fa-link"></i> <a target="_new" href="/{{ book.url }}">Original File</a>
      &bull; [<b>{{ book.pageCount }}</b>] pages
      <hr/>
     <div class="form-group">
      <label for="">Publish</label>
      <input type="checkbox" class="form-control" ng-model="book.is_published"/>
    </div>
    


    <hr/>
    <div class="form-group">
      <label for="">Media Title</label>
      <input type="text" class="form-control" placeholder="Enter Media Title"
             ng-model="book.title">
    </div>
    <div class="form-group">
      <label for="">ISBN</label>
      <input type="text" class="form-control" placeholder="Enter Book's ISBN"
             ng-model="book.ISBN">
    </div>
 
     <div class="form-group">
      <label for="">Media Tags</label>
      <input type="text" class="form-control" placeholder="tag1, tag2, tag3, ..."
             ng-model="book._tags">
         <br/>
         <div>
             <span class="badge" ng-repeat="tag in book.tags">{{tag}}</span>
         </div>
    </div>

    <div class="form-group">
     <label for="">Media Subject</label>
     <select ng-model="book.subject" ng-options="item as item for item in subjects"></select>
            <span class="badge" >{{book.subject}}</span>
   </div>

    <div class="form-group">

  <div flow-init="{target: '/api/upload', 'testChunks': false}"
     flow-files-submitted="$flow.upload();artworkUploadStarted()"
     flow-file-success="artworkUploadCompleted($file, $message, $flow)">

      <label for="">Media Artwork (cover)</label>
        <span class="btn" flow-btn>
            <img ng-if="book.artworkUrl" ng-hide="options.imageIsUploading" 
                        class="thumbnail" width="256" ng-src="/{{book.artworkUrl512}}"/>
            <img ng-if="book.artworkUrl" ng-show="options.imageIsUploading" 
                        class="thumbnail" width="256" ng-src="img/cat-loading.gif"/>


            </span>
</div>
    </div>

    <div class="form-group">
      <label for="">Media Description</label>
      <textarea class="form-control" style="min-height:200px" placeholder="Enter Media Description"
             ng-model="book.description"></textarea>
    </div>
     <div class="form-group">
      <label for="">Media Copyright information</label>
      <input type="text" class="form-control" placeholder="Enter who owns the copyright"
             ng-model="book.copyright">
    </div>
     <div class="form-group">
      <label for="">Author(s)</label>

    <div class="row" ng-repeat="author in book.authors">
    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="Firstname"
             ng-model="author.firstname">
    </div>
    <div class="col-md-6">
       <input type="text" class="form-control" placeholder="Lastname"
             ng-model="author.lastname">
    </div>
    </div>
    <br/>
    <button class="btn btn-sm form-control" ng-click="book.authors.push({firstname:'', lastname:''})">Add Author</button>
    </div>


     <div class="form-group">
      <label for="">Translators(s)</label>

    <div class="row" ng-repeat="translator in book.translators">
    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="Firstname"
             ng-model="translator.firstname">
    </div>
    <div class="col-md-6">
       <input type="text" class="form-control" placeholder="Lastname"
             ng-model="translator.lastname">
    </div>
    </div>
    <br/>
    <button class="btn btn-sm form-control" ng-click="book.translators.push({firstname:'', lastname:''})">Add Translator</button>
    </div>


    <div ng-if="book.category=='book'">
        <hr/>
        <h2>Media Book Info</h2>
        <div class="form-group">
          <label for="">Book Summary</label>
          <textarea class="form-control"   style="min-height:200px" placeholder="Enter Book Summary Here ..."
                 ng-model="book.summary"></textarea>
        </div>

    </div>

     <div >
        <hr/>
        <h2>Monitize</h2>
        <div class="form-group">
          <label for="">Book Price (Tomans)</label>
          <input type="number" class="form-control" placeholder="Book price in RIALS"
                 ng-model="book.price"/>
        </div>

    </div>

    </form>


    </div>

    <button ng-if="options.updating==false" type="submit" class="btn btn-success"
                ng-click="updateInfo()">Submit</button>
    <button ng-if="options.updating==true" type="submit" class="btn btn-default disabled">Please Wait</button>

</div>

         <div class="col-md-3">
    <div class="alert alert-info">
    <h5>Book Technical Settings</h5>
    <p class="alert alert-warning">Please dont change if you dont know what you are doing</p> 
    
    <br/>

   <div class="progress" title="convert progress">
       <div class="progress-bar" role="progressbar" aria-valuenow="{{book.convert_progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{book.convert_progress}}%;">
          {{book.convert_progress}}%
                </div>
                </div>


   <div class="progress" title="Index Progress">
       <div class="progress-bar" role="progressbar" aria-valuenow="{{book.index_progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{book.index_progress}}%;">
          {{book.index_progress}}%
                </div>
            </div>


        <button ng-click="re_index()" type="button" class="btn btn-sm btn-primary">Re-Index</button>
        <button ng-click="re_raster()" type="button" class="btn btn-sm btn-warning">Re-Raster</button>
        <hr/>
        <button ng-click="remove_book()" type="button" class="btn-full btn btn-sm btn-danger">Delete Book</button>
    </div>
	  <div class="alert alert-success" ng-repeat="page in book.pages.slice(0,6) track by $index">
<a href="/{{page.url}}"><img class="img-round thumbnail" style="width:100%"  ng-src="/{{page.url512}}" /></a>
	</div>
	</div>


	</div>

<hr/>

    
    <div class="col-md-4">
	  <a href="/{{page.url}}"  ng-repeat="page in book.pages track by $index"
    ><em class="fa fa-bookmark"> P{{$index+1}} </em></a>
    </div>



<br/>
