
<div class="container">
<div class="col-md-4">
</div>
<div class="col-md-4">
   <ul class="pagination">

  <li><a href="#/list/{{pageNumber-1}}" ng-if="pageNumber!=1"><i class="fa fa-arrow-circle-left fa-2x"></i></a></li>
  <li><a><i class="fa fa-file fa-2x"></i>  Page {{pageNumber}}</a></li>
  <li><a href="#/list/{{pageNumber+1}}" ng-if="books.length!=0"><i class="fa fa-arrow-circle-right fa-2x"></i></a></li>

</ul>
</div>
<div class="col-md-4">
</div>


<table class="table table-striped table-hover table-responsive table-bordered">

    <tr class="info">
    
        <th>Index</th>
        <th>Title</th>
        <th>Link</th>
        <th>ISBN</th>
        <th>Some Info</th>
        <th>Rasterize | Index Progress</th>
        <th>Index Progress</th>
        <th>Is Published</th>
    
    </tr>
    <tr ng-repeat="book in books | orderBy: 'convert_progress' track by $index">
        <td>{{($index+1) + ((pageNumber-1)*50)}}</td>
        <td ng-class="{'success':book.is_published}"> 
            {{book.title.slice(0,20)}}
        </td>
        <td>
            <a href="#/book/{{book._id.$oid}}"> <i class="fa fa-book fa-3x"></i></a>
	</td>
    <td><code>{{book.ISBN}}</code></td>


    <td>
        {{book.authors | json}}
    </td>

        <td ng-class="{'success':book.convert_progress==100, 'warning':book.convert_progress==0}">

    

   <div class="progress" title="Rasterize progress" style="height:10px;">
       <div class="progress-bar" role="progressbar" aria-valuenow="{{book.convert_progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{book.convert_progress}}%;">
                </div>
                </div>


   <div class="progress" title="Index Progress" style="height:10px;">
       <div class="progress-bar" role="progressbar" aria-valuenow="{{book.index_progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{book.index_progress}}%;">
                </div>
            </div>


        <td>
        
		<img class="thumbnail" width="64" ng-src="/{{book.artworkUrl100}}" />
        
        </td>
        <td ng-class="{'success':book.is_published}"><i class="fa" 
            ng-class="{'fa-check-circle':book.is_published==true, 
                        'fa-times':book.is_published==false}"</i></td>


    </tr>









</table>    
</div>
