


<div class="alert alert-info">
    <h3>Search results for <b>{{query}}</b></h3>
</div>


<table class="table table-striped table-responsive table-hover">

    <tr ng-repeat="result in results track by $index">
        <td>{{$index+1}}</td>
        <td><a href="#/book/{{result._id.$oid}}">{{result.title}}</a></td>
        <td>{{result.scrap[0]}}</td>

    </tr>


</table>
