<div class="" style=""
    flow-init="{target: '/api/upload', 'testChunks': false,
    'maxChunkRetries':5, 'simultaneousUploads':1, 'query':{'attached_to':$parent.ticket_id}}"
     flow-files-submitted="$flow.upload()"
     flow-file-added="!!{pdf:1}[$file.getExtension()]"
     flow-file-success="$file.msg = parseMessage($message)">
  <h3  ng-if="$parent.ticket_id==null" align="center" style="color:#333" class="farsi"> Add new Ebooks</h3>
  <hr class="soften"/>

  <div class="row">


    <div class="span6">

      <button class="btn btn-default" flow-btn><i class="fa fa-file"></i> Select PDF Files</button>
      <button class="btn btn-default"
      flow-btn flow-directory ng-show="$flow.supportDirectory"><i class="fa fa-folder-open"></i>
        Select PDF folder
    </button>
    </div>
  </div>
  <hr class="soften">

  <div ng-show="$flow.getSize()" ng-if="$parent.ticket_id==null">
    <a class="btn btn-sm" ng-click="$flow.resume()"><i class="fa fa-play"></i></a>
    <a class="btn btn-sm" ng-click="$flow.pause()"><i class="fa fa-pause"></i></a>
    <a class="btn btn-sm" ng-click="$flow.cancel()"><i class="fa fa-stop"></i></a>
    <span ng-show="$flow.getSize()" class="label label-info">{{getReadableFileSizeString($flow.getSize())}}</span>
    <span ng-show="$flow.isUploading()"  class="label label-info"><i class="fa fa-spinner fa-spin"></i>
</span>
  <hr/>
  </div>
  <table class="table table-hover table-responsive table-striped" flow-transfers>
    <thead>

    </thead>
    <tbody>
    <tr ng-repeat="file in transfers"
        ng-class="{'success':file.isComplete(), 'warning':file.paused, 'danger':file.error}">
      <td>{{$index+1}}</td>
      <td style="direction:ltr;text-align:center">{{file.name.slice(0,25)}}</td>
      <td>{{getReadableFileSizeString(file.size)}}</td>
      <td ng-show="file.progress()">{{parseInt(file.progress()*100)}}%</td>
      <td><i ng-show="file.paused" class="fa fa-pause"></i></td>
      <td><i ng-show="file.isUploading()" class="fa fa-cog fa-spin"></i></td>
      <td><i ng-show="file.isComplete()" class="fa fa-check-square"></i></td>
      <td>
        <div class="btn-group">
          <a class="btn btn-sm btn-warning" ng-click="file.pause()" ng-hide="file.paused || file.isComplete()">
            <i class="fa fa-pause"></i>
          </a>
          <a class="btn btn-sm btn-warning"
           ng-click="file.resume()" ng-show="file.paused">
            <i class="fa fa-play"></i>
          </a>
          <a class="btn btn-sm btn-danger" ng-click="file.cancel()" ng-show="!file.isComplete()">
            <i class="fa fa-stop"></i>
          </a>
          <a class="btn btn-sm btn-info" ng-click="file.retry()" ng-show="file.error">
            <i class="fa fa-refresh"></i>
          </a>
        </div>
      </td>


    <td><span ng-show="file.averageSpeed" > {{getReadableFileSizeString(file.averageSpeed)}} per second</span></td>
    </tr>
    </tbody>
  </table>

  <hr class="soften"/>

  <div class="alert" ng-if="$parent.ticket_id==null" flow-drop flow-drag-enter="class='alert-success'" flow-drag-leave="class=''"
          ng-class="class">

  <i class="fa fa-desktop fa-5x"></i>
   Drag Files here
  </div>
</div>
