<!doctype html>
<html class="no-js" lang="" ng-app="ngApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Appido Books Admin Panel</title>
        <meta name="description" content="Appido Books admin panel">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="ui-grid/ui-grid.min.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body ng-controller="masterCtrl">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->



<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"  href="#/home"><b><span class="text-danger" style="font-size:72px;">A</span>PPIDO BMS</b></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li ><a href="#/list"><i class="fa fa-list-ul fa-2x"></i> List Books</a></li>
        <li ><a href="#/upload"><i class="fa fa-cloud-upload fa-2x"></i> Add New Books</a></li>

      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="query" placeholder="Search Books" ng-enter="search()">
        </div>
        <button ng-show="query" type="submit" class="btn btn-info" ng-click="search()">Find</button>
      </form>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div class="container" style="min-height:400px;">
    <div class="row">
        <div class="col-md-12">
            <div ng-view></div>
            <!-- Content Here -->
        </div>
    </div>
</div>

    <footer class="footer" style="border-top:2px solid #ccc;margin-top:30px;min-height:150px;padding:10px;background-color:#333;color:#fff;">
              <div class="container">
                        
                          <p class="text-muted">&copy; 2015 RashaVas Telecom.</p>
            </div>
    </footer>


        <script src="js/vendor/jquery-1.11.3.min.js"></script>
        <script src="js/vendor/angular.min.js"></script>
        <script src="js/vendor/angular-route.min.js"></script>
        <script src="ui-grid/ui-grid.min.js"></script>
        <script src="js/vendor/ng-flow-standalone.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/main.js"></script>


    </body>
</html>
